<form method="post" action="/">
  <label name="expenseDate">Data da Despesa</label>
  <input class="text--bar_"type="date" name="expenseDate" required />

  <label name="title">Título</label>
  <input class="text--bar" type="text" name="title" placeholder="Item"required />

  <input class="text--bar" type="number" name="value" placeholder="R$" required />
    <br>
  <input class="text--bar_" type="password" name="token" placeholder="Token" required />
    <br>
  <input type="submit" id="button"/>
</form>