form{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
label{
    font-size: 1.5rem;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    color: gold;
}

.text--bar{
    width: 80vw;
    text-align: center;
    height: 8vh;
    margin: 2vh;
    background-color: rgba(22, 21, 19, 0.329);
    border-radius: 10vh;
    font-size: 1.2rem;
}
.text--bar_{
    width: 40vw;
    text-align: center;
    border-radius: 4vh;
    height: 6vh;
}

#button{
    width: 25vw;
    height: 10vh;
    border-radius: 50%;
    border: gold solid 2px;
    background-color: green;
    color: pink;
}