form{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
label{
    font-size: 1.5rem;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
    color: gold;
}

.text--bar{
    width: 80vw;
    text-align: center;
    height: 8vh;
    margin: 2vh;
    background-color: rgba(22, 21, 19, 0.329);
    border-radius: 10vh;
    font-size: 1.2rem;
}
.text--bar_{
    width: 40vw;
    text-align: center;
    border-radius: 4vh;
    height: 6vh;
}

#button{
    width: 25vw;
    height: 10vh;
    border-radius: 50%;
    border: gold solid 2px;
    background-color: green;
    color: pink;
}

@media screen and (min-width: 574px) {
    body{
        display: flex;
        flex-flow: column;
    }
    #button{
        width: 5vw;
        height: 8vh;
        border-radius: 18px;
        border: white solid 2px;
        background-color: black;
        color: white;
        font-size: 1.2rem;
    }
    .text--bar{
        width: 50vw;
        text-align: center;
        height: 5vh;
        margin: 2vh;
        background-color: rgba(245, 241, 234, 0.329);
        border-radius: 10vh;
        font-size: 1.5rem;
        color: white;
    }
    .text--bar_{
        width: 30vw;
        text-align: center;
        border-radius: 4vh;
        height: 6vh;
    }
    form{
    background-color: rgba(17, 17, 17, 0.486);
    width: 52vw;
    height: 65vh;
    border-radius: 32px;
    align-self: center;
    margin-top: 5vh;
    }
}